.App {
  text-align: center;
}

.logo-wrap-cat {
  padding-top: 24px;
}

.logo-wrap-cat img {
  width: 50%;
}

.logo-wrap-cat img:hover {
  object-view-box: inset(10%);
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(24px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul li  {
  margin-left: 8px;
  margin-right: 8px;
}

ul li img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: 0.2s ease-out;
  object-view-box: inset(0%);
}

ul li img:hover {
  object-view-box: inset(10%);
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(24px + 2vmin);
  color: white;
}